* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgba(19, 17, 17, 0.986);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.main {
  box-shadow: 0 0 1rem rgb(0, 0, 0);
  background-color: rgba(31, 27, 27, 0.986);
  margin-top: 2rem;
  margin-bottom: 2rem;
  width: 85%;
  margin: 7rem 5rem;
  color: white;
  padding: 3rem 6rem;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1.5rem;
}
a {
  text-decoration: none;
  color: rgba(221, 221, 221, 0.911);
  margin-left: 5rem;
}

nav i {
  font-size: 3rem;
  margin-right: 2rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1.6rem;
  margin: 0 4rem;
  margin-top: 0.5rem;
}
.navgauche {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 1.5rem;
}

.corp {
  display: flex;
}
